body {
  font-family: 'Roboto', sans-serif;
  color: white;
  text-align: center;
  padding: 0 2rem;
}

.row {
  margin-top: 2rem;
  background-color: black;
  border-radius: 1rem;
  display: none;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

img {
  height: 30vh;
  background-size: cover;
  background-color: white;
  margin: 2rem 1rem;
}

#show-more {
  margin: 8vh auto;
  height: 8vh;
  width: 8vh;
  background-image: url(../img/arrow-down.png);
  background-size: cover;
  cursor: pointer;
  -webkit-transition: -webkit-transform .8s ease-in-out;
          transition:         transform .8s ease-in-out;
}

@@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}

#show-more:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}
