body {
  font-family: 'Roboto', sans-serif;
  color: white;
  text-align: center;
}

section {
  width: 100%;
}

#first-div {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 80vh;
  margin: 0 auto;
}

#first-div h1 {
  padding-top: 20vh;
  font-size: 5rem;
}

#first-div h3 {
  font-size: 2rem;
  text-align: center;
  padding-top: 3rem;
}

#second-div {
  padding-top: 20vh;
  background-color: #9BCAF1 !important;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

#second-div h1 {
  font-size: 5rem;
}

#second-div h3 {
  font-size: 2rem;
  text-align: center;
  margin-top: 8rem;
  margin-bottom: 3rem;
}

#second-div .link-div {
  margin: 0 auto;
  width: 70%;
  height: 12em;
  display: block;
}

.sticker {
  position: relative;
  width: 10em;
  height: 10em;
  cursor: pointer;
}

.sticker-github {
  float: left;
  margin-left: 15%;
}

.sticker-cv {
  float: right;
  margin-right: 15%;
}

.sticker-github .sticker-img {
  background-image: url(../img/ironcat.png);
  background-size: cover;
  float: left;
}

.sticker-cv .sticker-img {
  background-image: url(../img/cv.png);
  background-size: cover;
  float: right;
}

/* Scroll back to top button */

@@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}
#scroll-top {
  background-image: url(../img/scroll-top.png);
  background-size: cover;
  display: none;
  position: fixed;
  position: fixed;
  z-index: 2;
  top: 40px;
  left: 5%;
  width: 60px;
  height: 60px;
  -webkit-transition: -webkit-transform .8s ease-in-out;
          transition:         transform .8s ease-in-out;
}

#scroll-top:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}
