body {
  font-family: 'Roboto', sans-serif;
  color: white;
  text-align: center;
}

section {
  width: 100%;
}

.section-div {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  min-height: 100vh;
}

.section-div h1 {
  font-size: 5rem;
}

.section-div h3 {
  font-size: 2rem;
  text-align: center;
  padding-top: 3rem;
}

#first-div {
  min-height: 80vh;
}

#first-div h1 {
  padding-top: 20vh;
}

#second-div {
  padding-top: 20vh;
  background-color: #9BCAF1;
}

#second-div h3 {
  margin-top: 8rem;
  margin-bottom: 3rem;
}

#second-div .link-div {
  margin: 0 auto;
  width: 70%;
  height: 12em;
  display: block;
}

#second-div a:hover {
  color: white;
}

#second-div a {
  color: black;
}

#third-div {
  padding-top: 20vh;
  background-color: #6C6666;
}

#third-div h3 {
  padding-bottom: 5vh;
}

#third-div h3:hover {
  color: black;
}

.project {
  margin-top: 10vh;
  cursor: pointer;
}

.project a {
  clear: both;
  margin: 0 auto;
  font-size: 2rem;
  padding-bottom: 1rem;
}

.project img {
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

#bm {
  float: left;
  margin-left: 20vw;
}

#routesearcher {
  float: right;
  margin-right: 20vw;
}

#routesearcher img {
  width: 150px;
  height: 150px;
  margin-top: 3rem;
}

#fourth-div {
  padding-top: 20vh;
}

#fourth-div a {
  font-size: 3rem;
  text-align: center;
  color: white;
  margin-top: 20vh;
  display: block;
}

#fourth-div a:hover {
  color: #9BCAF1;
}

#HFCrypto {
  width: 80%;
  margin: 0 auto;
  clear: both;
}

#SongID {
  width: 80%;
  margin: 0 auto;
  margin-top: 5rem;
}

/* For mobile screens */

@media screen and (max-width: 703px) {
    .project {
       float: none !important;
       clear: both;
       margin-left: auto !important;
       margin-right: auto !important;
    }
    #routesearcher img {
      margin-bottom: 3em;
    }
    #project-bottom {
      height: 5em;
    }
    #third-div {
      min-height: 130vh;
    }
    .sticker {
      float: none !important;
      margin-left: auto !important;
      margin-right: auto !important;
      margin-top: 5vh !important;
      height: auto !important;
    }
 }

.sticker {
  position: relative;
  width: 10em;
  height: 10em;
  cursor: pointer;
  margin-top: 10vh;
}

.sticker-github {
  float: left;
  margin-left: 20vw;
}

.sticker-cv {
  float: right;
  margin-right: 20vw;
}

.sticker-github .sticker-img {
  background-image: url(../img/heisencat.png);
  background-size: cover;
  float: left;
}

.sticker-cv .sticker-img {
  background-image: url(../img/resume.png);
  background-size: cover;
  float: right;
}

/* Scroll back to top button */

@@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}
#scroll-top {
  background-image: url(../img/scroll-top.png);
  background-size: cover;
  display: none;
  position: fixed;
  position: fixed;
  z-index: 2;
  top: 40px;
  left: 5%;
  width: 60px;
  height: 60px;
  -webkit-transition: -webkit-transform .8s ease-in-out;
          transition:         transform .8s ease-in-out;
}

#scroll-top:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}
